{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

{% endfor %}

<p>
    <img src="{{ url_for('static', filename='images/mango_bar_big.png') }}" alt="HI" width="850"  class="d-block mx-auto">
</p>

<p>
    <div class="text-center my-2">
        <h1 style="font-size: 35px;" class="font-weight-bold text-success">
            Mango Mango – Where Code Meets Curry<br>
            and Comments Get Juicy!
        </h1>
    </div>
    <br>
    <img src="{{ url_for('static', filename='images/mango2.png') }}" alt="Mango_Pic" height="200"  class="d-block mx-auto">    
</p>


{% endblock %}